$distance: 3rem;
.homepage {
  height: 100vh;
  padding: $distance 0;

  & > main {
    height: calc(100% - $distance);
    padding-top: $distance;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    .logo {
      align-self: flex-start;
      margin: 0 auto; // Center image
      opacity: 0.7;
      width: 40%;
    }
  }
}
