.image-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  // Searchbar
  .bar {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    position: relative;
    box-shadow: 1.5px 1.5px 6px 1.5px #000000;

    // ! Moved to image-display-box.styles.scss file
    // Used to move the .image-display-box below the 100vh
    // margin-bottom: calc(
    //   15vh + 3rem - 45px - 2px
    // );
    // 3rem from Homepage padding, 45px from .searchbar and 2px from border-width

    &:focus-within {
      box-shadow: 1px 1px 8px 1px #39414b;
      outline: none;
    }

    button.search-icon {
      all: unset;
      cursor: pointer;
      position: absolute;
      right: 0.5rem;
      top: -0.1rem;
      padding: 1rem;
    }

    .searchbar {
      padding: 0 4rem 0 2rem;
      height: 45px;
      border: none;
      width: 100%;
      font-size: large;
      outline: none;
    }
  }
  .error-message {
    color: red;
    position: relative;
    width: 90%;
    max-width: 600px;
    padding: 0 4rem 0 2rem;
    font-size: 1.2rem;
    margin-top: .25rem;
  }
}
