.image-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .bar {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    position: relative;
    box-shadow: 1.5px 1.5px 6px 1.5px #000000;

    &:focus-within {
      box-shadow: 1px 1px 8px 1px #39414b;
      outline: none;
    }

    .search-icon {
      position: absolute;
      right: 1.5rem;
      top: .75rem;
    }
  

    .searchbar {
      padding: 0 4rem 0 2rem;
      height: 45px;
      border: none;
      width: 100%;
      font-size: large;
      outline: none;
    }
  }
}
